* {
  box-sizing: border-box;
}

.grid {
  border: 1px solid black;
  width: 502px;
  height: 502px;
  display: flex;
  flex-wrap: wrap;
}

.cell {
  border: 1px solid black;
  width: 50px;
  height: 50px;
}

.player {
  background: red;
}
