.review {
  display: grid;
  grid-template: 'rating rating' 1rem 'author content' auto / auto 1fr;
  border-bottom: 1px solid #cccccc;
  gap: 0.25rem;
  padding: 0.25rem;
}
.review p {
  margin: 0;
}

.author {
  grid-area: author;
}

.rating {
  grid-area: rating;
}

.content {
  grid-area: content;
  margin: 0;
}

.star {
  color: hsl(216, 68%, 69%);
}
