* {
  box-sizing: border-box;
}

main {
  max-width: 40rem;
  background: white;
  min-height: 100vh;
}

main.dark {
  background: black;
  color: white;
}

.App-header {
  background: hsl(17, 82%, 9%);
  color: white;
  text-align: center;
  width: 100%;
  position: fixed;
  height: 2.5rem;
  top: 0;
  z-index: 1;
}

.App-header h1 {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

picture {
  max-width: 100%;
}

picture > img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.App {
  padding-top: 2.5rem;
  background: hsl(27, 15%, 43%);

  height: 100vh;
  width: 100vw;

  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main.scrollable {
  overflow-y: scroll;
  padding-bottom: 50vh;
}

textarea {
  resize: none;
  transition: all 1s ease-in-out;
  border: none;
}

textarea.closed {
  height: 0;
  padding: 0;
}

textarea.open {
  height: 2rem;
  padding: 2px;
}

label {
  position: absolute;
  left: -100vw;
}

input,
textarea {
  display: block;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.principal {
  background-color: hsl(240, 75%, 76%);
}
.cancel {
  background-color: hsl(0, 0%, 80%);
}
