* {
  box-sizing: border-box;
}

main {
  max-width: 30rem;
  background: white;
}

.App-header {
  background: black;
  color: white;
  text-align: center;
  width: 100%;
}

picture {
  max-width: 100%;
}

picture > img {
  max-width: 100%;
  height: auto;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: gray;
}

textarea {
  resize: none;
  transition: all 1s ease-in-out;
  border: none;
}

textarea.closed {
  height: 0;
  padding: 0;
}

textarea.open {
  height: 2rem;
  padding: 2px;
}

label {
  position: absolute;
  left: -100vw;
}

input,
textarea {
  display: block;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.principal {
  background-color: hsl(240, 75%, 76%);
}
.cancel {
  background-color: hsl(0, 0%, 80%);
}
