* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

main {
  height: 100vh;
  width: 100vw;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

button {
  all: unset;
  cursor: pointer;
}

.target {
  position: absolute;
  height: 100px;
  width: 100px;
  border: 2px solid black;
  background-size: cover;
  background-position: center;
}
#game-screen {
  position: relative;
}

.bad {
  background-image: url(https://images.unsplash.com/photo-1577880073729-854465bc672f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
}
.nice {
  background-image: url(https://images.unsplash.com/photo-1595433707802-6b2626ef1c91?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80);
}
