* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(64, 173, 52);
}

body,
p,
html,
ul,
li,
ol {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

/* 
selector {
  rules
  property-name: 'propertyValue';

  font-size: 20px;
}
*/

ul {
  font-weight: normal;
}

li {
  font-weight: bold;
  display: inline;
}

main {
  background-color: rgba(211, 190, 69, 0.673);
  color: red;
}

section {
  background-color: rgb(64, 173, 52);
  color: rgb(33, 33, 191);
}

/* class selectors */
.special {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(214, 84, 105);
}

.hidden {
  display: none;
}

/* combine classes */
.special.hidden.message {
  display: block;
}

/* id selector */
/* starts with # and then has the id name */
#extra-info {
  border: 10px rgb(130, 16, 16) solid;
}

#unique-au-monde {
  color: rgb(211, 190, 69);
}

.special a {
  color: rgba(211, 190, 69);
}

picture {
  display: block;
  /* Centre images inside picture */
  text-align: center;
}

picture img {
  /* Let it be as wide as possible */
  max-width: 100%;
  /* Let it grow relative to its width */
  height: auto;
}

section {
  background-color: rgb(144, 233, 237);
  color: rgb(8, 8, 118);
}

.special {
  color: rgb(246, 26, 61);
}

.special a {
  color: rgb(62, 56, 239);
  font-weight: bold;
}
